html {
  font-size: 10px; /* 10px = 1rem */
}

body {
  font-family: "Press Start 2P", cursive;
  background-image: url("/images/css_background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 3.5rem;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

h2 {
  color: #fff;
  font-size: 2rem;
}

.canvas {
  display: flex;
  justify-content: space-evenly;
  vertical-align: middle;
}

.button {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-top: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.rrss {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.github-logo {
  height: 30px;
  width: auto;
  background-color: white;
  border-radius: 5px;
  padding: 2px;
  margin-top: 1px;
}

.linkedin-logo {
  height: 30px;
  width: auto;
  background-color: white;
  margin-top: 1px;
  border-radius: 5px;
  margin-left: 30px;
  padding: 2.2px;
}